// Uncomment this for a sticky footer.
//
// .container {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -4em;
// }
//
// html, body {
//  height: 100%;
// }
//
// .container:after {
//   content: "";
//   display: block;
// }
//
// .footer-2, .container:after {
//   height: 17em;
//
//   @include media($large-screen) {
//     height: 4em;
//   }
// }

.footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  -webkit-font-smoothing: antialiased;

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: $reverse-background-color;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-spacing 0;
  width: 100%;
  display: inline-block;

  ul {
    margin-bottom: 1em;
    
    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-bottom: 0;
    }
  }

  ul li {
    padding-right: 1em;
    text-transform: uppercase;
    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: .8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin-top: 1em;
      margin-bottom: 1em;
      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        padding-right: .7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: .7;
        padding: 1px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
