//------------------------------------//
//  $Typography
//------------------------------------//

@include media(max-width $medium-screen) {
  body {
  }
  
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: $h2-font-size;
  }

  h3 {
    font-size: $h4-font-size;
  }

  h4 {
    font-size: $base-font-size;
  }


  h6 {
    font-size: $base-font-size;
  }

  .lead {
    font-size: $base-font-size;
  }
  
  p, ol, ul, h5  {
    font-size: .875em;
  }

}
