@include media($large-screen-up) {
  .scrolled .navigation {
    background-color: #2B3B54;
    border-bottom: 1px solid darken($dark-gray, 10);
  }
}

.navigation {
  background-color: #2B3B54;
  border-bottom: 1px solid darken($dark-gray, 10);
}

.navigation {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  -webkit-font-smoothing: antialiased;

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $navigation-padding: 1em;
  $navigation-background: #2B3B54;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 70px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;


  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  

  @include media($medium-screen-up) {
    //position: fixed;
  }
  
  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;
    
    position: relative;
    z-index: 9999999;
      
    
    img {
      @include size(156px 30px);
      margin-top: 1.25em;
      
      @include media ($horizontal-bar-mode) {
        @include size(243px 47px);
        margin: .8em 0;
      }
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $medium-gray;
    display: block;
    float: right;
    font-weight: 700;
    font-size: $h4-font-size;
    line-height: $navigation-height;
    margin: 0;
    width: $navigation-height;
    text-transform: uppercase;
    text-align: center;
    z-index: 9999999;
    position: relative;
    
    &:before {
      background: $dark-gray;
      padding: .5em;
    }
    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  .nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  .navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    @include transition;
    
    &.is-visible {
      opacity: 1;
      visibility: visible;
      
    }
    
    @include media (max-width $horizontal-bar-mode) {
      background: $navigation-background;
      padding-top: 6.75em;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      visibility: hidden;
    }
    
    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    width: 100%;
    z-index: 9999;
    
    @include media (max-width $horizontal-bar-mode) {
      text-align: center;
      line-height: 1.4;
    }
    
    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      font-weight: 400;
      display: inline-block;
      
      @include media (max-width $horizontal-bar-mode) {
        font-size: $h2-font-size;
        font-family: $header-font-family;
      }
      
      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:hover {
        color: $navigation-color-hover;
      }
    }
    
    @include media ($horizontal-bar-mode) {
      > a {
        text-transform: uppercase;
      }
    }
  }

  .active-nav-item a {
    color: $white !important;
    
    &:after {
      @include media ($horizontal-bar-mode) {
        content: "";
        height: 1px;
        background-color: $white;
        width: 100%;
        display: block;
        height: 1px;
        margin-top: -1.5rem;
      }
    }
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: .8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: .8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    clear: both;
    display: block;
    padding-left: $navigation-padding;
    padding-right: $navigation-padding;
    
    .button {
      margin-top: 1em;
    }
    
    .form-signup {
      display: none;  
    }
    
    @include media(max-width $large-screen) {
      margin-top: $double-spacing;
      margin-bottom: $base-spacing;
      
      .button {
        display: block;
        text-align: center;
        font-size: $h5-font-size;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        
        margin-bottom: $half-spacing;
      }
      
      .form-signup {
        display: block;  
      }
      
      
    }
    
    @include media($large-screen) {
      background: transparent;
      clear: none;
      float: right;
      height: $navigation-height;
      
      .button span {
        display: none;
      }
      .sign-up:after {
        content: "Sign Up";
      }
      
      .login:after {
        content: "Login";
      }
    }
  }

  .sign-up {
//    @include button(flat, transparent);
//    border: 1px solid $navigation-color;
//    display: inline;
//    float: right;
//    font-size: 1em;
//    margin-top: 1em;
//    padding: .25em 1em;
//    text-transform: uppercase;
//    
//    &:hover {
//      background-color: $green !important;
//      border-color: transparent;
//    }
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    float: left;
    padding: .85em .6em .7em .6em;
    width: 60%;

    .search-and-submit {
      position: relative;

      input[type=search] {
        @include box-sizing(border-box);
        background: $navigation-search-background;
        border-radius: $base-border-radius * 2;
        border: $navigation-search-border;
        color: $navigation-color;
        font-size: .9em;
        font-style: italic;
        margin: 0;
        padding: .5em .8em;
        width: 100%;

        @include media($large-screen) {
          width: 100%;
        }
      }

      button[type=submit] {
        @include button(flat, $navigation-search-background);
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: .7;
          padding: 1px;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }
}
