<div class="container padding narrow">
      
      {{ theme:partial src="title" intro="{content}" }}
      
      <div class="split-content">
        
        
         {{ if {raven:success} }}
			<div class="flash-success">
              <h4>Thank you, we'll be in touch!</h4>
              {{ success_message }}
            </div>
         {{ else }}
         
  			{{ raven:errors }}

  			  {{ if missing }}
  			  <div class="flash-error">
  			    <h2>You have missing fields:</h2>
  			    <ul>
  			      {{ missing }}
  			        <li>{{ field }}</li>
  			      {{ /missing }}
  			    </ul>
  			  </div>
  			  {{ endif }}

  			  {{ if invalid }}
  			  <div class="flash-error">
  			    <h2>You have invalid fields</h2>
  			    <ul>
  			      {{ invalid }}
  			        <li>{{ field }}: {{ message }}</li>
  			      {{ /invalid }}
  			    </ul>
  			  </div>
  			  {{ endif }}

  			{{ /raven:errors }}

  			{{ raven:form formset="contact" attr="class:contact" }}
              <fieldset>
  			  <input type="text" name="name" value="" placeholder="First Name" />

  			  <input type="email" name="email" value="" placeholder="Email"/>

  			  <textarea name="message" value="" placeholder="How can we help you?"></textarea>

  			  <input type="submit" value="Send Message" />
              </fieldset>
        {{ /raven:form }}
        {{ endif }}
      </div>
      <div class="split-content">
        <div class="brandkit box">
          <h4>Logos</h4>
          <div class="brandkit-logos">
            <img src="/assets/img/launchdarkly-light.png">
            <img src="/assets/img/launchdarkly-dark.png">
          </div>
          <h4>Colors</h4>
          <ul class="swatches">
            <li class="swatch"></li>
            <li class="swatch"></li>
            <li class="swatch"></li>
            <li class="swatch"></li>
          </ul>
          <a href="/assets/files/brandkit.zip" class="button">Download Brand Kit</a>
        </div>
        
      </div>

</div>